<html>
	<head>
		<script type="text/javascript" src="/js/lib/jquery-1.11.1.min.js" ></script>
		
	</head>
	<body>
		Test!
		<div id="templates">
		</div>

		<div id="formCanvas">
		</div>
	</body>
</html>

<script type="text/javascript" src="/js/lib/mustache.js" ></script>
<script type="text/javascript" src="/js/client_advanceform.js" ></script>